button {
    border: 1px solid black;
}
#mx {
    margin: auto;
    text-align: center;
}
.hidden {
    display: none;
}
#mm {
    display: flex;
    width: 25em;
    margin: auto;
    padding: 1em;
}
#drp,
#down,
#copy {
    justify-content: space-between;
    margin-left: 20px;
    order: 2;
}
p {
    margin: auto;
    text-align: center;
}
#archive {
    padding-right: 25px;
    margin: auto;
}
.dropzone {
    height: 30em;
    border: 2px solid black;
    width: 30em;
}
#exp, #dwn{
    border: 2px solid black;
    font-size: 16px;
    outline: none;
}
#pass {
    width: 20em;
    display:inline-block;
}
