@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 768px) and (max-width: 1280px) {
    .bp3-button {
        font-size: 16px;
    }
    #container {
        border: none;
        height: 950px;
        border-radius: 0px;
        line-height: 1.5;
    }
    #left {
        float: none;
        margin: auto;
    }
    #expires {
        font-size: larger;
    }
    #submitForm {
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }
    #right {
        margin-top: 10px;
        width: auto;
        float: none;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .dropzone {
        border: solid 4px white;

        position: relative;
        width: auto;
        overflow: hidden;
        overflow-y: scroll;
        float: center;
        min-height: 100vh;
    }
    #submitForm {
        float: left;
        width: -webkit-fill-available;
    }
    #container {
        border: none;
        border-radius: 0;
        padding: 0;
    }
    #left {
        width: auto;
        float: none;
    }
    #right {
        width: 75%;
        margin: auto;
        padding-top: 10px;
        float: none;
    }
    #uponRoot {
        width: auto;
        margin: 0 auto;
    }
    #mm {
        width: 20em;
        padding: 0.4em;
        margin: auto;
    }
    #copy {
        display: none;
    }
    .bp3-button {
        width: max-content;
    }
    #time,
    #remaining {
        padding-top: 10px;
    }
    .bp3-popover-wrapper {
        margin: auto;
    }
    #drp,
    #down,
    #copy {
        margin: auto;
        justify-content: space-between;
        margin-left: 20px;
        order: 2;
    }
    #archive {
        padding-right: 15px;
        margin: auto;
    }
    #upload {
        margin-bottom: 15px;
    }

    #list {
        border-radius: 0;
        background: white;
        color: black;
        margin-top: 100px;
    }
}
